#add-course {
    margin-left: 1em;
}

#usercomments {
    min-width: 0;
    max-width: 20vw;
    overflow: auto;
}

#usercommments::-webkit-scrollbar {
    height: 20px;
}

.delete-button {
    margin-right: 1vw !important;
}